texyservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://texy.info" xmlns:si="http://soapinterop.org/xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://texy.info" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://texy.info">
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="PrevedDoXhtmlRequest">
    <wsdl:part name="text" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="PrevedDoXhtmlResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="PrevedDoXhtmlSRequest">
    <wsdl:part name="text" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="PrevedDoXhtmlSResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="PrevedDoXhtmlRRequest">
    <wsdl:part name="text" type="xsd:string" />
    <wsdl:part name="utf" type="xsd:boolean" />
    <wsdl:part name="trust" type="xsd:boolean" />
    <wsdl:part name="headingLevel" type="xsd:integer" />
  </wsdl:message>
  <wsdl:message name="PrevedDoXhtmlRResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:portType name="TexyConverterPortType">
    <wsdl:operation name="PrevedDoXhtml">
      <wsdl:input message="tns:PrevedDoXhtmlRequest" />
      <wsdl:output message="tns:PrevedDoXhtmlResponse" />
    </wsdl:operation>
    <wsdl:operation name="PrevedDoXhtmlS">
      <wsdl:input message="tns:PrevedDoXhtmlSRequest" />
      <wsdl:output message="tns:PrevedDoXhtmlSResponse" />
    </wsdl:operation>
    <wsdl:operation name="PrevedDoXhtmlR">
      <wsdl:input message="tns:PrevedDoXhtmlRRequest" />
      <wsdl:output message="tns:PrevedDoXhtmlRResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TexyConverterBinding" type="tns:TexyConverterPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="PrevedDoXhtml">
      <soap:operation soapAction="http://trop/texy-ws/endpoint.php/PrevedDoXhtml" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://texy.info" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://texy.info" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PrevedDoXhtmlS">
      <soap:operation soapAction="http://trop/texy-ws/endpoint.php/PrevedDoXhtmlS" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://texy.info" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://texy.info" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PrevedDoXhtmlR">
      <soap:operation soapAction="http://trop/texy-ws/endpoint.php/PrevedDoXhtmlR" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://texy.info" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://texy.info" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TexyConverter">
    <wsdl:port name="TexyConverterPort" binding="tns:TexyConverterBinding">
      <soap:address location="http://trop/texy-ws/endpoint.php" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>